**Installing The Required Library**

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

Importing The Required Library

In [ ]:
import pandas as pd

**Reading The Required File or Dataset**

In [ ]:
df=pd.read_csv("/content/uncleaned_dataset_1000x20.csv")
df

,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,Country,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
0,CUST4759,John Doe,45.0,NaN,user445@example.com,9.123457e+09,456 Ave,Los Angeles,NY,USA,10001.0,NaN,NaN,NaN,Active,3.0,Spanish,NaN,NaN,3.0
1,CUST8553,NaN,40.0,Male,user754@example.com,NaN,123 St,Los Angeles,NY,USA,60601.0,NaN,12/1/2022,NaN,NaN,4.0,NaN,Mobile,REF123,1.0
2,CUST8441,NaN,NaN,Other,user345@example.com,9.876543e+09,NaN,NaN,NY,US,NaN,1/1/2021,5/5/2023,100.0,Cancelled,NaN,NaN,Desktop,REF123,2.0
3,CUST1138,NaN,25.0,Female,user270@example.com,9.988777e+09,NaN,Houston,NY,NaN,60601.0,1/1/2021,5/5/2023,250.5,NaN,3.0,NaN,Mobile,REF123,0.0
4,CUST8530,John Doe,40.0,F,user631@example.com,NaN,123 St,NaN,NaN,US,NaN,NaN,NaN,250.5,NaN,5.0,English,Tablet,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,CUST9853,NaN,45.0,Male,user144@example.com,NaN,NaN,Los Angeles,NY,NaN,NaN,6/15/2020,NaN,1000.0,Active,2.0,French,NaN,REF123,1.0
996,CUST2027,Sam,25.0,NaN,user537@example.com,NaN,789 Blvd,Houston,IL,NaN,NaN,1/1/2021,12/1/2022,100.0,Inactive,1.0,Spanish,NaN,NaN,0.0
997,CUST3395,Jane Smith,NaN,Female,user909@example.com,NaN,789 Blvd,New York,NaN,NaN,60601.0,1/1/2021,NaN,250.5,Active,1.0,Spanish,NaN,NaN,NaN
998,CUST6975,Sam,40.0,Male,NaN,9.123457e+09,456 Ave,Houston,CA,NaN,90001.0,1/1/2021,NaN,0.0,NaN,4.0,Spanish,NaN,NaN,0.0
999,CUST9293,NaN,NaN,Other,user687@example.com,9.876543e+09,789 Blvd,Chicago,NY,USA,10001.0,NaN,12/1/2022,0.0,Cancelled,2.0,Spanish,Desktop,REF123,NaN

**To Print the Entire Dataframe**

In [ ]:
print(df.to_string)

<bound method DataFrame.to_string of     Customer_ID        Name   Age  Gender                Email         Phone  \
0      CUST4759    John Doe  45.0     NaN  user445@example.com  9.123457e+09
1      CUST8553         NaN  40.0    Male  user754@example.com           NaN
2      CUST8441         NaN   NaN   Other  user345@example.com  9.876543e+09
3      CUST1138         NaN  25.0  Female  user270@example.com  9.988777e+09
4      CUST8530    John Doe  40.0       F  user631@example.com           NaN
..          ...         ...   ...     ...                  ...           ...
995    CUST9853         NaN  45.0    Male  user144@example.com           NaN
996    CUST2027         Sam  25.0     NaN  user537@example.com           NaN
997    CUST3395  Jane Smith   NaN  Female  user909@example.com           NaN
998    CUST6975         Sam  40.0    Male                  NaN  9.123457e+09
999    CUST9293         NaN   NaN   Other  user687@example.com  9.876543e+09

      Address         City State Country      Zip Registration_Date  \
0     456 Ave  Los Angeles    NY     USA  10001.0               NaN
1      123 St  Los Angeles    NY     USA  60601.0               NaN
2         NaN          NaN    NY      US      NaN          1/1/2021
3         NaN      Houston    NY     NaN  60601.0          1/1/2021
4      123 St          NaN   NaN      US      NaN               NaN
..        ...          ...   ...     ...      ...               ...
995       NaN  Los Angeles    NY     NaN      NaN         6/15/2020
996  789 Blvd      Houston    IL     NaN      NaN          1/1/2021
997  789 Blvd     New York   NaN     NaN  60601.0          1/1/2021
998   456 Ave      Houston    CA     NaN  90001.0          1/1/2021
999  789 Blvd      Chicago    NY     USA  10001.0               NaN

    Last_Login  Account_Balance Subscription_Status  Feedback_Score  \
0          NaN              NaN              Active             3.0
1    12/1/2022              NaN                 NaN             4.0
2     5/5/2023            100.0           Cancelled             NaN
3     5/5/2023            250.5                 NaN             3.0
4          NaN            250.5                 NaN             5.0
..         ...              ...                 ...             ...
995        NaN           1000.0              Active             2.0
996  12/1/2022            100.0            Inactive             1.0
997        NaN            250.5              Active             1.0
998        NaN              0.0                 NaN             4.0
999  12/1/2022              0.0           Cancelled             2.0

    Preferred_Language Device_Type Referral_Code  Purchase_Count
0              Spanish         NaN           NaN             3.0
1                  NaN      Mobile        REF123             1.0
2                  NaN     Desktop        REF123             2.0
3                  NaN      Mobile        REF123             0.0
4              English      Tablet           NaN             1.0
..                 ...         ...           ...             ...
995             French         NaN        REF123             1.0
996            Spanish         NaN           NaN             0.0
997            Spanish         NaN           NaN             NaN
998            Spanish         NaN           NaN             0.0
999            Spanish     Desktop        REF123             NaN

[1000 rows x 20 columns]>

**To Show The Rows From Top**

In [ ]:
df.head()
df.head(5)

,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,Country,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
0,CUST4759,John Doe,45.0,NaN,user445@example.com,9.123457e+09,456 Ave,Los Angeles,NY,USA,10001.0,NaN,NaN,NaN,Active,3.0,Spanish,NaN,NaN,3.0
1,CUST8553,NaN,40.0,Male,user754@example.com,NaN,123 St,Los Angeles,NY,USA,60601.0,NaN,12/1/2022,NaN,NaN,4.0,NaN,Mobile,REF123,1.0
2,CUST8441,NaN,NaN,Other,user345@example.com,9.876543e+09,NaN,NaN,NY,US,NaN,1/1/2021,5/5/2023,100.0,Cancelled,NaN,NaN,Desktop,REF123,2.0
3,CUST1138,NaN,25.0,Female,user270@example.com,9.988777e+09,NaN,Houston,NY,NaN,60601.0,1/1/2021,5/5/2023,250.5,NaN,3.0,NaN,Mobile,REF123,0.0
4,CUST8530,John Doe,40.0,F,user631@example.com,NaN,123 St,NaN,NaN,US,NaN,NaN,NaN,250.5,NaN,5.0,English,Tablet,NaN,1.0

**To Show The Rows From End**

In [ ]:
df.tail()
df.tail(5)

,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,Country,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
995,CUST9853,NaN,45.0,Male,user144@example.com,NaN,NaN,Los Angeles,NY,NaN,NaN,6/15/2020,NaN,1000.0,Active,2.0,French,NaN,REF123,1.0
996,CUST2027,Sam,25.0,NaN,user537@example.com,NaN,789 Blvd,Houston,IL,NaN,NaN,1/1/2021,12/1/2022,100.0,Inactive,1.0,Spanish,NaN,NaN,0.0
997,CUST3395,Jane Smith,NaN,Female,user909@example.com,NaN,789 Blvd,New York,NaN,NaN,60601.0,1/1/2021,NaN,250.5,Active,1.0,Spanish,NaN,NaN,NaN
998,CUST6975,Sam,40.0,Male,NaN,9.123457e+09,456 Ave,Houston,CA,NaN,90001.0,1/1/2021,NaN,0.0,NaN,4.0,Spanish,NaN,NaN,0.0
999,CUST9293,NaN,NaN,Other,user687@example.com,9.876543e+09,789 Blvd,Chicago,NY,USA,10001.0,NaN,12/1/2022,0.0,Cancelled,2.0,Spanish,Desktop,REF123,NaN

**To Show The Number Of Rows And Columns**

In [ ]:
df.shape

(1000, 20)

**To Show The All Columns**

In [ ]:
df.columns

Index(['Customer_ID', 'Name', 'Age', 'Gender', 'Email', 'Phone', 'Address',
       'City', 'State', 'Country', 'Zip', 'Registration_Date', 'Last_Login',
       'Account_Balance', 'Subscription_Status', 'Feedback_Score',
       'Preferred_Language', 'Device_Type', 'Referral_Code', 'Purchase_Count'],
      dtype='object')

**To Show The Basic Information And Null Value Count**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Customer_ID          950 non-null    object
 1   Name                 724 non-null    object
 2   Age                  857 non-null    float64
 3   Gender               839 non-null    object
 4   Email                812 non-null    object
 5   Phone                613 non-null    float64
 6   Address              613 non-null    object
 7   City                 786 non-null    object
 8   State                667 non-null    object
 9   Country              506 non-null    object
 10  Zip                  578 non-null    float64
 11  Registration_Date    764 non-null    object
 12  Last_Login           492 non-null    object
 13  Account_Balance      793 non-null    float64
 14  Subscription_Status  605 non-null    object
 15  Feedback_Score       842 non-null    float64
 16  Preferred_Language   598 non-null    object
 17  Device_Type          591 non-null    object
 18  Referral_Code        509 non-null    object
 19  Purchase_Count       648 non-null    float64
dtypes: float64(6), object(14)
memory usage: 156.4+ KB

**To Show The Statistical Summary Of Numerical Columns

In [ ]:
df.describe()

,Age,Phone,Zip,Account_Balance,Feedback_Score,Purchase_Count
count,857.000000,6.130000e+02,578.00000,793.000000,842.000000,648.000000
mean,37.415403,9.685311e+09,51832.83391,336.815889,3.029691,1.518519
std,8.413948,3.769030e+08,32998.81134,396.975160,1.431038,1.132475
min,25.000000,9.123457e+09,10001.00000,0.000000,1.000000,0.000000
25%,30.000000,9.123457e+09,10001.00000,0.000000,2.000000,0.000000
50%,40.000000,9.876543e+09,60601.00000,100.000000,3.000000,2.000000
75%,45.000000,9.988777e+09,90001.00000,1000.000000,4.000000,3.000000
max,50.000000,9.988777e+09,90001.00000,1000.000000,5.000000,3.000000

**To Find the Data Types**

In [ ]:
df.dtypes

Customer_ID             object
Name                    object
Age                    float64
Gender                  object
Email                   object
Phone                  float64
Address                 object
City                    object
State                   object
Country                 object
Zip                    float64
Registration_Date       object
Last_Login              object
Account_Balance        float64
Subscription_Status     object
Feedback_Score         float64
Preferred_Language      object
Device_Type             object
Referral_Code           object
Purchase_Count         float64
dtype: object

**To Select Single Row**

In [ ]:
df["Email"]
df["Email"].head(10)

0    user445@example.com
1    user754@example.com
2    user345@example.com
3    user270@example.com
4    user631@example.com
5    user354@example.com
6    user946@example.com
7    user581@example.com
8     user46@example.com
9    user329@example.com
Name: Email, dtype: object

In [ ]:
df["Country"]
df["Country"].head(10)

0    USA
1    USA
2     US
3    NaN
4     US
5    NaN
6     US
7    NaN
8    NaN
9    NaN
Name: Country, dtype: object

**To Show The Unique Values**

In [ ]:
df["Preferred_Language"].unique()

array(['Spanish', nan, 'English', 'French'], dtype=object)

In [ ]:
df["Device_Type"].unique()

array([nan, 'Mobile', 'Desktop', 'Tablet'], dtype=object)

**To Show The Particular Records or Data**

In [ ]:
df.loc[6]

Customer_ID                       CUST5791
Name                              John Doe
Age                                   45.0
Gender                                   M
Email                  user946@example.com
Phone                         9988776655.0
Address                            456 Ave
City                                   NaN
State                                   IL
Country                                 US
Zip                                    NaN
Registration_Date                6/15/2020
Last_Login                             NaN
Account_Balance                      250.5
Subscription_Status               Inactive
Feedback_Score                         NaN
Preferred_Language                 Spanish
Device_Type                         Mobile
Referral_Code                          NaN
Purchase_Count                         3.0
Name: 6, dtype: object

**Retrieving Records By  Slicing**

In [ ]:
df[3:87]

,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,Country,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
3,CUST1138,NaN,25.0,Female,user270@example.com,9.988777e+09,NaN,Houston,NY,NaN,60601.0,1/1/2021,5/5/2023,250.5,NaN,3.0,NaN,Mobile,REF123,0.0
4,CUST8530,John Doe,40.0,F,user631@example.com,NaN,123 St,NaN,NaN,US,NaN,NaN,NaN,250.5,NaN,5.0,English,Tablet,NaN,1.0
5,CUST8995,NaN,NaN,Female,user354@example.com,9.876543e+09,123 St,Houston,NY,NaN,NaN,6/15/2020,12/1/2022,100.0,NaN,2.0,Spanish,Mobile,REF123,1.0
6,CUST5791,John Doe,45.0,M,user946@example.com,9.988777e+09,456 Ave,NaN,IL,US,NaN,6/15/2020,NaN,250.5,Inactive,NaN,Spanish,Mobile,NaN,3.0
7,CUST9375,Sam,35.0,Other,user581@example.com,9.988777e+09,789 Blvd,Houston,NaN,NaN,90001.0,11/20/2019,12/1/2022,1000.0,NaN,1.0,NaN,Tablet,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,CUST4374,Sam,25.0,Male,NaN,9.876543e+09,456 Ave,Houston,IL,NaN,60601.0,6/15/2020,5/5/2023,250.5,Inactive,3.0,NaN,NaN,NaN,3.0
83,CUST3970,Alice,35.0,M,user237@example.com,9.123457e+09,NaN,Chicago,NY,USA,60601.0,11/20/2019,NaN,0.0,Cancelled,NaN,NaN,NaN,REF456,0.0
84,CUST6631,Alice,30.0,Female,NaN,9.123457e+09,123 St,Chicago,IL,NaN,90001.0,NaN,12/1/2022,NaN,Cancelled,4.0,French,Mobile,NaN,2.0
85,CUST4659,John Doe,NaN,Female,NaN,NaN,456 Ave,Houston,NY,USA,10001.0,11/20/2019,12/1/2022,NaN,NaN,4.0,Spanish,NaN,NaN,0.0
86,CUST1100,Alice,25.0,Other,user818@example.com,NaN,NaN,Houston,NaN,NaN,NaN,6/15/2020,5/5/2023,250.5,NaN,2.0,French,Mobile,REF456,0.0

**To Show Single Column**

In [ ]:
df['Name'].head(10)

0    John Doe
1         NaN
2         NaN
3         NaN
4    John Doe
5         NaN
6    John Doe
7         Sam
8       Alice
9       Alice
Name: Name, dtype: object

**To Show Multiple Columns**

In [ ]:
df[["Name","Age","City"]].tail(10)

           Name   Age         City
990  Jane Smith  45.0     New York
991         NaN  50.0      Chicago
992         NaN  50.0  Los Angeles
993         Sam  30.0      Houston
994         NaN  35.0  Los Angeles
995         NaN  45.0  Los Angeles
996         Sam  25.0      Houston
997  Jane Smith   NaN     New York
998         Sam  40.0      Houston
999         NaN   NaN      Chicago

### ***DATA CLEANING (OR) HANDLING WITH NULL VALUES***

In [ ]:
df

,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,Country,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
0,CUST4759,John Doe,45.0,NaN,user445@example.com,9.123457e+09,456 Ave,Los Angeles,NY,USA,10001.0,NaN,NaN,NaN,Active,3.0,Spanish,NaN,NaN,3.0
1,CUST8553,NaN,40.0,Male,user754@example.com,NaN,123 St,Los Angeles,NY,USA,60601.0,NaN,12/1/2022,NaN,NaN,4.0,NaN,Mobile,REF123,1.0
2,CUST8441,NaN,NaN,Other,user345@example.com,9.876543e+09,NaN,NaN,NY,US,NaN,1/1/2021,5/5/2023,100.0,Cancelled,NaN,NaN,Desktop,REF123,2.0
3,CUST1138,NaN,25.0,Female,user270@example.com,9.988777e+09,NaN,Houston,NY,NaN,60601.0,1/1/2021,5/5/2023,250.5,NaN,3.0,NaN,Mobile,REF123,0.0
4,CUST8530,John Doe,40.0,F,user631@example.com,NaN,123 St,NaN,NaN,US,NaN,NaN,NaN,250.5,NaN,5.0,English,Tablet,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,CUST9853,NaN,45.0,Male,user144@example.com,NaN,NaN,Los Angeles,NY,NaN,NaN,6/15/2020,NaN,1000.0,Active,2.0,French,NaN,REF123,1.0
996,CUST2027,Sam,25.0,NaN,user537@example.com,NaN,789 Blvd,Houston,IL,NaN,NaN,1/1/2021,12/1/2022,100.0,Inactive,1.0,Spanish,NaN,NaN,0.0
997,CUST3395,Jane Smith,NaN,Female,user909@example.com,NaN,789 Blvd,New York,NaN,NaN,60601.0,1/1/2021,NaN,250.5,Active,1.0,Spanish,NaN,NaN,NaN
998,CUST6975,Sam,40.0,Male,NaN,9.123457e+09,456 Ave,Houston,CA,NaN,90001.0,1/1/2021,NaN,0.0,NaN,4.0,Spanish,NaN,NaN,0.0
999,CUST9293,NaN,NaN,Other,user687@example.com,9.876543e+09,789 Blvd,Chicago,NY,USA,10001.0,NaN,12/1/2022,0.0,Cancelled,2.0,Spanish,Desktop,REF123,NaN

**To Show The Null Values In Our Dataset**

In [ ]:
df.isnull()

,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,Country,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
0,False,False,False,True,False,False,False,False,False,False,False,True,True,True,False,False,False,True,True,False
1,False,True,False,False,False,True,False,False,False,False,False,True,False,True,True,False,True,False,False,False
2,False,True,True,False,False,False,True,True,False,False,True,False,False,False,False,True,True,False,False,False
3,False,True,False,False,False,False,True,False,False,True,False,False,False,False,True,False,True,False,False,False
4,False,False,False,False,False,True,False,True,True,False,True,True,True,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,True,False,False,False,True,True,False,False,True,True,False,True,False,False,False,False,True,False,False
996,False,False,False,True,False,True,False,False,False,True,True,False,False,False,False,False,False,True,True,False
997,False,False,True,False,False,True,False,False,True,True,False,False,True,False,False,False,False,True,True,True
998,False,False,False,False,True,False,False,False,False,True,False,False,True,False,True,False,False,True,True,False
999,False,True,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True

**To Get Their Count Of Null Values**

In [ ]:
df.isnull().sum()

Customer_ID             50
Name                   276
Age                    143
Gender                 161
Email                  188
Phone                  387
Address                387
City                   214
State                  333
Country                494
Zip                    422
Registration_Date      236
Last_Login             508
Account_Balance        207
Subscription_Status    395
Feedback_Score         158
Preferred_Language     402
Device_Type            409
Referral_Code          491
Purchase_Count         352
dtype: int64

**To Show The Not Null Values In Our Dataset**

In [ ]:
df.notnull()

,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,Country,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
0,True,True,True,False,True,True,True,True,True,True,True,False,False,False,True,True,True,False,False,True
1,True,False,True,True,True,False,True,True,True,True,True,False,True,False,False,True,False,True,True,True
2,True,False,False,True,True,True,False,False,True,True,False,True,True,True,True,False,False,True,True,True
3,True,False,True,True,True,True,False,True,True,False,True,True,True,True,False,True,False,True,True,True
4,True,True,True,True,True,False,True,False,False,True,False,False,False,True,False,True,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,True,False,True,True,True,False,False,True,True,False,False,True,False,True,True,True,True,False,True,True
996,True,True,True,False,True,False,True,True,True,False,False,True,True,True,True,True,True,False,False,True
997,True,True,False,True,True,False,True,True,False,False,True,True,False,True,True,True,True,False,False,False
998,True,True,True,True,False,True,True,True,True,False,True,True,False,True,False,True,True,False,False,True
999,True,False,False,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True,False

**To Get Their Count**

In [ ]:
df.notnull().sum()

Customer_ID            950
Name                   724
Age                    857
Gender                 839
Email                  812
Phone                  613
Address                613
City                   786
State                  667
Country                506
Zip                    578
Registration_Date      764
Last_Login             492
Account_Balance        793
Subscription_Status    605
Feedback_Score         842
Preferred_Language     598
Device_Type            591
Referral_Code          509
Purchase_Count         648
dtype: int64

**To Fill The Null Values With Particular Values**

In [ ]:
df

,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,Country,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
0,CUST4759,John Doe,45.0,NaN,user445@example.com,9.123457e+09,456 Ave,Los Angeles,NY,USA,10001.0,NaN,NaN,NaN,Active,3.0,Spanish,NaN,NaN,3.0
1,CUST8553,NaN,40.0,Male,user754@example.com,NaN,123 St,Los Angeles,NY,USA,60601.0,NaN,12/1/2022,NaN,NaN,4.0,NaN,Mobile,REF123,1.0
2,CUST8441,NaN,NaN,Other,user345@example.com,9.876543e+09,NaN,NaN,NY,US,NaN,1/1/2021,5/5/2023,100.0,Cancelled,NaN,NaN,Desktop,REF123,2.0
3,CUST1138,NaN,25.0,Female,user270@example.com,9.988777e+09,NaN,Houston,NY,NaN,60601.0,1/1/2021,5/5/2023,250.5,NaN,3.0,NaN,Mobile,REF123,0.0
4,CUST8530,John Doe,40.0,F,user631@example.com,NaN,123 St,NaN,NaN,US,NaN,NaN,NaN,250.5,NaN,5.0,English,Tablet,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,CUST9853,NaN,45.0,Male,user144@example.com,NaN,NaN,Los Angeles,NY,NaN,NaN,6/15/2020,NaN,1000.0,Active,2.0,French,NaN,REF123,1.0
996,CUST2027,Sam,25.0,NaN,user537@example.com,NaN,789 Blvd,Houston,IL,NaN,NaN,1/1/2021,12/1/2022,100.0,Inactive,1.0,Spanish,NaN,NaN,0.0
997,CUST3395,Jane Smith,NaN,Female,user909@example.com,NaN,789 Blvd,New York,NaN,NaN,60601.0,1/1/2021,NaN,250.5,Active,1.0,Spanish,NaN,NaN,NaN
998,CUST6975,Sam,40.0,Male,NaN,9.123457e+09,456 Ave,Houston,CA,NaN,90001.0,1/1/2021,NaN,0.0,NaN,4.0,Spanish,NaN,NaN,0.0
999,CUST9293,NaN,NaN,Other,user687@example.com,9.876543e+09,789 Blvd,Chicago,NY,USA,10001.0,NaN,12/1/2022,0.0,Cancelled,2.0,Spanish,Desktop,REF123,NaN

In [ ]:
df["Customer_ID"].fillna("Not Mentioned",inplace=True)

/tmp/ipython-input-3267872881.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Customer_ID"].fillna("Not Mentioned",inplace=True)

In [ ]:
df["Name"].fillna("Not Known",inplace=True)

/tmp/ipython-input-2233008385.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Name"].fillna("Not Known",inplace=True)

In [ ]:
df["Gender"].fillna("Not Known",inplace=True)

/tmp/ipython-input-3831938863.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Gender"].fillna("Not Known",inplace=True)

In [ ]:
x=df["Age"].mean()
df["Age"].fillna(x,inplace=True)

/tmp/ipython-input-671808002.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(x,inplace=True)

In [ ]:
df["Email"].fillna("Not Known",inplace=True)

/tmp/ipython-input-1145126963.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Email"].fillna("Not Known",inplace=True)

In [ ]:
df.columns

Index(['Customer_ID', 'Name', 'Age', 'Gender', 'Email', 'Phone', 'Address',
       'City', 'State', 'Country', 'Zip', 'Registration_Date', 'Last_Login',
       'Account_Balance', 'Subscription_Status', 'Feedback_Score',
       'Preferred_Language', 'Device_Type', 'Referral_Code', 'Purchase_Count'],
      dtype='object')

In [ ]:
df["Phone"].fillna("Not Known",inplace=True)

/tmp/ipython-input-174459048.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Phone"].fillna("Not Known",inplace=True)
/tmp/ipython-input-174459048.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not Known' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df["Phone"].fillna("Not Known",inplace=True)

In [ ]:
df["Address"].fillna("Not Mentioned",inplace=True)

/tmp/ipython-input-2175768655.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Address"].fillna("Not Mentioned",inplace=True)

In [ ]:
df.columns

Index(['Customer_ID', 'Name', 'Age', 'Gender', 'Email', 'Phone', 'Address',
       'City', 'State', 'Country', 'Zip', 'Registration_Date', 'Last_Login',
       'Account_Balance', 'Subscription_Status', 'Feedback_Score',
       'Preferred_Language', 'Device_Type', 'Referral_Code', 'Purchase_Count'],
      dtype='object')

In [ ]:
df["City"].fillna(method="bfill",inplace=True)

/tmp/ipython-input-37174012.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["City"].fillna(method="bfill",inplace=True)
/tmp/ipython-input-37174012.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["City"].fillna(method="bfill",inplace=True)

In [ ]:
df["State"].fillna(method="ffill",inplace=True)

/tmp/ipython-input-3191397999.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["State"].fillna(method="ffill",inplace=True)
/tmp/ipython-input-3191397999.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["State"].fillna(method="ffill",inplace=True)

In [ ]:
df["Country"].fillna("Not Mentioned",inplace=True)

/tmp/ipython-input-3915409540.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Country"].fillna("Not Mentioned",inplace=True)

In [ ]:
df.columns

Index(['Customer_ID', 'Name', 'Age', 'Gender', 'Email', 'Phone', 'Address',
       'City', 'State', 'Country', 'Zip', 'Registration_Date', 'Last_Login',
       'Account_Balance', 'Subscription_Status', 'Feedback_Score',
       'Preferred_Language', 'Device_Type', 'Referral_Code', 'Purchase_Count'],
      dtype='object')

In [ ]:
df["Zip"].fillna("Not Mentioned",inplace=True)

/tmp/ipython-input-1449617927.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Zip"].fillna("Not Mentioned",inplace=True)
/tmp/ipython-input-1449617927.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not Mentioned' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df["Zip"].fillna("Not Mentioned",inplace=True)

In [ ]:
df["Registration_Date"].fillna("Not Known",inplace=True)

/tmp/ipython-input-3372820989.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Registration_Date"].fillna("Not Known",inplace=True)

In [ ]:
df["Last_Login"].fillna("Not Known",inplace=True)

/tmp/ipython-input-3625007819.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Last_Login"].fillna("Not Known",inplace=True)

In [ ]:
df["Last_Login"].fillna("Not Known",inplace=True)

In [ ]:
z=df["Account_Balance"].mean()
df["Account_Balance"].fillna(z,inplace=True)

/tmp/ipython-input-1072869262.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Account_Balance"].fillna(z,inplace=True)

In [ ]:
df["Subscription_Status"].fillna("Not Mentioned",inplace=True)

/tmp/ipython-input-284702100.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Subscription_Status"].fillna("Not Mentioned",inplace=True)

In [ ]:
df.columns

Index(['Customer_ID', 'Name', 'Age', 'Gender', 'Email', 'Phone', 'Address',
       'City', 'State', 'Country', 'Zip', 'Registration_Date', 'Last_Login',
       'Account_Balance', 'Subscription_Status', 'Feedback_Score',
       'Preferred_Language', 'Device_Type', 'Referral_Code', 'Purchase_Count'],
      dtype='object')

In [ ]:
b=df["Feedback_Score"].mean()
df["Feedback_Score"].fillna(b,inplace=True)

/tmp/ipython-input-3156978482.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Feedback_Score"].fillna(b,inplace=True)

In [ ]:
df["Preferred_Language"].fillna("Not Known",inplace=True)

/tmp/ipython-input-2706171779.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Preferred_Language"].fillna("Not Known",inplace=True)

In [ ]:
df.columns

Index(['Customer_ID', 'Name', 'Age', 'Gender', 'Email', 'Phone', 'Address',
       'City', 'State', 'Country', 'Zip', 'Registration_Date', 'Last_Login',
       'Account_Balance', 'Subscription_Status', 'Feedback_Score',
       'Preferred_Language', 'Device_Type', 'Referral_Code', 'Purchase_Count'],
      dtype='object')

In [ ]:
df["Device_Type"].fillna("Not Mentioned",inplace=True)

/tmp/ipython-input-189817163.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Device_Type"].fillna("Not Mentioned",inplace=True)

In [ ]:
df["Referral_Code"].fillna("Not Known",inplace=True)

/tmp/ipython-input-3579494241.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Referral_Code"].fillna("Not Known",inplace=True)

In [ ]:
c=df["Purchase_Count"].mean()
df["Purchase_Count"].fillna(c,inplace=True)

/tmp/ipython-input-3510731295.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Purchase_Count"].fillna(c,inplace=True)

In [ ]:
df.columns

Index(['Customer_ID', 'Name', 'Age', 'Gender', 'Email', 'Phone', 'Address',
       'City', 'State', 'Country', 'Zip', 'Registration_Date', 'Last_Login',
       'Account_Balance', 'Subscription_Status', 'Feedback_Score',
       'Preferred_Language', 'Device_Type', 'Referral_Code', 'Purchase_Count'],
      dtype='object')

In [ ]:
df

,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,Country,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
0,CUST4759,John Doe,45.000000,Not Known,user445@example.com,9123456780.0,456 Ave,Los Angeles,NY,USA,10001.0,Not Known,Not Known,336.815889,Active,3.000000,Spanish,Not Mentioned,Not Known,3.000000
1,CUST8553,Not Known,40.000000,Male,user754@example.com,Not Known,123 St,Los Angeles,NY,USA,60601.0,Not Known,12/1/2022,336.815889,Not Mentioned,4.000000,Not Known,Mobile,REF123,1.000000
2,CUST8441,Not Known,37.415403,Other,user345@example.com,9876543210.0,Not Mentioned,Houston,NY,US,Not Mentioned,1/1/2021,5/5/2023,100.000000,Cancelled,3.029691,Not Known,Desktop,REF123,2.000000
3,CUST1138,Not Known,25.000000,Female,user270@example.com,9988776655.0,Not Mentioned,Houston,NY,Not Mentioned,60601.0,1/1/2021,5/5/2023,250.500000,Not Mentioned,3.000000,Not Known,Mobile,REF123,0.000000
4,CUST8530,John Doe,40.000000,F,user631@example.com,Not Known,123 St,Houston,NY,US,Not Mentioned,Not Known,Not Known,250.500000,Not Mentioned,5.000000,English,Tablet,Not Known,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,CUST9853,Not Known,45.000000,Male,user144@example.com,Not Known,Not Mentioned,Los Angeles,NY,Not Mentioned,Not Mentioned,6/15/2020,Not Known,1000.000000,Active,2.000000,French,Not Mentioned,REF123,1.000000
996,CUST2027,Sam,25.000000,Not Known,user537@example.com,Not Known,789 Blvd,Houston,IL,Not Mentioned,Not Mentioned,1/1/2021,12/1/2022,100.000000,Inactive,1.000000,Spanish,Not Mentioned,Not Known,0.000000
997,CUST3395,Jane Smith,37.415403,Female,user909@example.com,Not Known,789 Blvd,New York,IL,Not Mentioned,60601.0,1/1/2021,Not Known,250.500000,Active,1.000000,Spanish,Not Mentioned,Not Known,1.518519
998,CUST6975,Sam,40.000000,Male,Not Known,9123456780.0,456 Ave,Houston,CA,Not Mentioned,90001.0,1/1/2021,Not Known,0.000000,Not Mentioned,4.000000,Spanish,Not Mentioned,Not Known,0.000000
999,CUST9293,Not Known,37.415403,Other,user687@example.com,9876543210.0,789 Blvd,Chicago,NY,USA,10001.0,Not Known,12/1/2022,0.000000,Cancelled,2.000000,Spanish,Desktop,REF123,1.518519

In [ ]:
df.isnull().sum()

Customer_ID            0
Name                   0
Age                    0
Gender                 0
Email                  0
Phone                  0
Address                0
City                   0
State                  0
Country                0
Zip                    0
Registration_Date      0
Last_Login             0
Account_Balance        0
Subscription_Status    0
Feedback_Score         0
Preferred_Language     0
Device_Type            0
Referral_Code          0
Purchase_Count         0
dtype: int64

In [ ]:
df.notnull()

,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,Country,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
996,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
997,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
998,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
999,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [ ]:
df

,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,Country,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
0,CUST4759,John Doe,45.000000,Not Known,user445@example.com,9123456780.0,456 Ave,Los Angeles,NY,USA,10001.0,Not Known,Not Known,336.815889,Active,3.000000,Spanish,Not Mentioned,Not Known,3.000000
1,CUST8553,Not Known,40.000000,Male,user754@example.com,Not Known,123 St,Los Angeles,NY,USA,60601.0,Not Known,12/1/2022,336.815889,Not Mentioned,4.000000,Not Known,Mobile,REF123,1.000000
2,CUST8441,Not Known,37.415403,Other,user345@example.com,9876543210.0,Not Mentioned,Houston,NY,US,Not Mentioned,1/1/2021,5/5/2023,100.000000,Cancelled,3.029691,Not Known,Desktop,REF123,2.000000
3,CUST1138,Not Known,25.000000,Female,user270@example.com,9988776655.0,Not Mentioned,Houston,NY,Not Mentioned,60601.0,1/1/2021,5/5/2023,250.500000,Not Mentioned,3.000000,Not Known,Mobile,REF123,0.000000
4,CUST8530,John Doe,40.000000,F,user631@example.com,Not Known,123 St,Houston,NY,US,Not Mentioned,Not Known,Not Known,250.500000,Not Mentioned,5.000000,English,Tablet,Not Known,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,CUST9853,Not Known,45.000000,Male,user144@example.com,Not Known,Not Mentioned,Los Angeles,NY,Not Mentioned,Not Mentioned,6/15/2020,Not Known,1000.000000,Active,2.000000,French,Not Mentioned,REF123,1.000000
996,CUST2027,Sam,25.000000,Not Known,user537@example.com,Not Known,789 Blvd,Houston,IL,Not Mentioned,Not Mentioned,1/1/2021,12/1/2022,100.000000,Inactive,1.000000,Spanish,Not Mentioned,Not Known,0.000000
997,CUST3395,Jane Smith,37.415403,Female,user909@example.com,Not Known,789 Blvd,New York,IL,Not Mentioned,60601.0,1/1/2021,Not Known,250.500000,Active,1.000000,Spanish,Not Mentioned,Not Known,1.518519
998,CUST6975,Sam,40.000000,Male,Not Known,9123456780.0,456 Ave,Houston,CA,Not Mentioned,90001.0,1/1/2021,Not Known,0.000000,Not Mentioned,4.000000,Spanish,Not Mentioned,Not Known,0.000000
999,CUST9293,Not Known,37.415403,Other,user687@example.com,9876543210.0,789 Blvd,Chicago,NY,USA,10001.0,Not Known,12/1/2022,0.000000,Cancelled,2.000000,Spanish,Desktop,REF123,1.518519

**Removing Duplicates**

In [ ]:
df.columns

Index(['Customer_ID', 'Name', 'Age', 'Gender', 'Email', 'Phone', 'Address',
       'City', 'State', 'Country', 'Zip', 'Registration_Date', 'Last_Login',
       'Account_Balance', 'Subscription_Status', 'Feedback_Score',
       'Preferred_Language', 'Device_Type', 'Referral_Code', 'Purchase_Count'],
      dtype='object')

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df["Customer_ID"].duplicated().sum()

np.int64(100)

In [ ]:
df["Name"].duplicated().sum()

np.int64(995)

In [ ]:
df["Age"].duplicated().sum()

np.int64(993)

In [ ]:
df["Gender"].duplicated().sum()

np.int64(994)

In [ ]:
df["Email"].duplicated().sum()

np.int64(449)

In [ ]:
df.duplicated(subset="Address").sum()

np.int64(996)

In [ ]:
df.columns

Index(['Customer_ID', 'Name', 'Age', 'Gender', 'Email', 'Phone', 'Address',
       'City', 'State', 'Country', 'Zip', 'Registration_Date', 'Last_Login',
       'Account_Balance', 'Subscription_Status', 'Feedback_Score',
       'Preferred_Language', 'Device_Type', 'Referral_Code', 'Purchase_Count'],
      dtype='object')

In [ ]:
df.duplicated(subset="City").sum()

np.int64(996)

In [ ]:
df.duplicated(subset="State").sum()

np.int64(996)

In [ ]:
df.duplicated(subset="Country").sum()

np.int64(997)

In [ ]:
df.duplicated(subset="Zip").sum()

np.int64(996)

**To Get Date**

In [ ]:
df["Date"]=pd.Timestamp.today().date()

In [ ]:
df

,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,Country,...,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count,Date
0,CUST4759,John Doe,45.000000,Not Known,user445@example.com,9123456780.0,456 Ave,Los Angeles,NY,USA,...,Not Known,Not Known,336.815889,Active,3.000000,Spanish,Not Mentioned,Not Known,3.000000,2025-08-14
1,CUST8553,Not Known,40.000000,Male,user754@example.com,Not Known,123 St,Los Angeles,NY,USA,...,Not Known,12/1/2022,336.815889,Not Mentioned,4.000000,Not Known,Mobile,REF123,1.000000,2025-08-14
2,CUST8441,Not Known,37.415403,Other,user345@example.com,9876543210.0,Not Mentioned,Houston,NY,US,...,1/1/2021,5/5/2023,100.000000,Cancelled,3.029691,Not Known,Desktop,REF123,2.000000,2025-08-14
3,CUST1138,Not Known,25.000000,Female,user270@example.com,9988776655.0,Not Mentioned,Houston,NY,Not Mentioned,...,1/1/2021,5/5/2023,250.500000,Not Mentioned,3.000000,Not Known,Mobile,REF123,0.000000,2025-08-14
4,CUST8530,John Doe,40.000000,F,user631@example.com,Not Known,123 St,Houston,NY,US,...,Not Known,Not Known,250.500000,Not Mentioned,5.000000,English,Tablet,Not Known,1.000000,2025-08-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,CUST9853,Not Known,45.000000,Male,user144@example.com,Not Known,Not Mentioned,Los Angeles,NY,Not Mentioned,...,6/15/2020,Not Known,1000.000000,Active,2.000000,French,Not Mentioned,REF123,1.000000,2025-08-14
996,CUST2027,Sam,25.000000,Not Known,user537@example.com,Not Known,789 Blvd,Houston,IL,Not Mentioned,...,1/1/2021,12/1/2022,100.000000,Inactive,1.000000,Spanish,Not Mentioned,Not Known,0.000000,2025-08-14
997,CUST3395,Jane Smith,37.415403,Female,user909@example.com,Not Known,789 Blvd,New York,IL,Not Mentioned,...,1/1/2021,Not Known,250.500000,Active,1.000000,Spanish,Not Mentioned,Not Known,1.518519,2025-08-14
998,CUST6975,Sam,40.000000,Male,Not Known,9123456780.0,456 Ave,Houston,CA,Not Mentioned,...,1/1/2021,Not Known,0.000000,Not Mentioned,4.000000,Spanish,Not Mentioned,Not Known,0.000000,2025-08-14
999,CUST9293,Not Known,37.415403,Other,user687@example.com,9876543210.0,789 Blvd,Chicago,NY,USA,...,Not Known,12/1/2022,0.000000,Cancelled,2.000000,Spanish,Desktop,REF123,1.518519,2025-08-14

In [ ]:
col_date=df.pop("Date")
df.insert(0,col_date.name,col_date)
df

,Date,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,...,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
0,2025-08-14,CUST4759,John Doe,45.000000,Not Known,user445@example.com,9123456780.0,456 Ave,Los Angeles,NY,...,10001.0,Not Known,Not Known,336.815889,Active,3.000000,Spanish,Not Mentioned,Not Known,3.000000
1,2025-08-14,CUST8553,Not Known,40.000000,Male,user754@example.com,Not Known,123 St,Los Angeles,NY,...,60601.0,Not Known,12/1/2022,336.815889,Not Mentioned,4.000000,Not Known,Mobile,REF123,1.000000
2,2025-08-14,CUST8441,Not Known,37.415403,Other,user345@example.com,9876543210.0,Not Mentioned,Houston,NY,...,Not Mentioned,1/1/2021,5/5/2023,100.000000,Cancelled,3.029691,Not Known,Desktop,REF123,2.000000
3,2025-08-14,CUST1138,Not Known,25.000000,Female,user270@example.com,9988776655.0,Not Mentioned,Houston,NY,...,60601.0,1/1/2021,5/5/2023,250.500000,Not Mentioned,3.000000,Not Known,Mobile,REF123,0.000000
4,2025-08-14,CUST8530,John Doe,40.000000,F,user631@example.com,Not Known,123 St,Houston,NY,...,Not Mentioned,Not Known,Not Known,250.500000,Not Mentioned,5.000000,English,Tablet,Not Known,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2025-08-14,CUST9853,Not Known,45.000000,Male,user144@example.com,Not Known,Not Mentioned,Los Angeles,NY,...,Not Mentioned,6/15/2020,Not Known,1000.000000,Active,2.000000,French,Not Mentioned,REF123,1.000000
996,2025-08-14,CUST2027,Sam,25.000000,Not Known,user537@example.com,Not Known,789 Blvd,Houston,IL,...,Not Mentioned,1/1/2021,12/1/2022,100.000000,Inactive,1.000000,Spanish,Not Mentioned,Not Known,0.000000
997,2025-08-14,CUST3395,Jane Smith,37.415403,Female,user909@example.com,Not Known,789 Blvd,New York,IL,...,60601.0,1/1/2021,Not Known,250.500000,Active,1.000000,Spanish,Not Mentioned,Not Known,1.518519
998,2025-08-14,CUST6975,Sam,40.000000,Male,Not Known,9123456780.0,456 Ave,Houston,CA,...,90001.0,1/1/2021,Not Known,0.000000,Not Mentioned,4.000000,Spanish,Not Mentioned,Not Known,0.000000
999,2025-08-14,CUST9293,Not Known,37.415403,Other,user687@example.com,9876543210.0,789 Blvd,Chicago,NY,...,10001.0,Not Known,12/1/2022,0.000000,Cancelled,2.000000,Spanish,Desktop,REF123,1.518519

In [ ]:
import numpy as np

In [ ]:
random_date = pd.to_datetime(np.random.choice(pd.date_range(start='2020-01-01', end='2025-12-31')))
print(random_date)

2023-05-17 00:00:00

In [ ]:
df["Date"]=pd.to_datetime(np.random.choice(pd.date_range(start='2020-01-01', end='2025-12-31')))

In [ ]:
df

,Date,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,...,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
0,2022-04-28,CUST4759,John Doe,45.000000,Not Known,user445@example.com,9123456780.0,456 Ave,Los Angeles,NY,...,10001.0,Not Known,Not Known,336.815889,Active,3.000000,Spanish,Not Mentioned,Not Known,3.000000
1,2022-04-28,CUST8553,Not Known,40.000000,Male,user754@example.com,Not Known,123 St,Los Angeles,NY,...,60601.0,Not Known,12/1/2022,336.815889,Not Mentioned,4.000000,Not Known,Mobile,REF123,1.000000
2,2022-04-28,CUST8441,Not Known,37.415403,Other,user345@example.com,9876543210.0,Not Mentioned,Houston,NY,...,Not Mentioned,1/1/2021,5/5/2023,100.000000,Cancelled,3.029691,Not Known,Desktop,REF123,2.000000
3,2022-04-28,CUST1138,Not Known,25.000000,Female,user270@example.com,9988776655.0,Not Mentioned,Houston,NY,...,60601.0,1/1/2021,5/5/2023,250.500000,Not Mentioned,3.000000,Not Known,Mobile,REF123,0.000000
4,2022-04-28,CUST8530,John Doe,40.000000,F,user631@example.com,Not Known,123 St,Houston,NY,...,Not Mentioned,Not Known,Not Known,250.500000,Not Mentioned,5.000000,English,Tablet,Not Known,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-04-28,CUST9853,Not Known,45.000000,Male,user144@example.com,Not Known,Not Mentioned,Los Angeles,NY,...,Not Mentioned,6/15/2020,Not Known,1000.000000,Active,2.000000,French,Not Mentioned,REF123,1.000000
996,2022-04-28,CUST2027,Sam,25.000000,Not Known,user537@example.com,Not Known,789 Blvd,Houston,IL,...,Not Mentioned,1/1/2021,12/1/2022,100.000000,Inactive,1.000000,Spanish,Not Mentioned,Not Known,0.000000
997,2022-04-28,CUST3395,Jane Smith,37.415403,Female,user909@example.com,Not Known,789 Blvd,New York,IL,...,60601.0,1/1/2021,Not Known,250.500000,Active,1.000000,Spanish,Not Mentioned,Not Known,1.518519
998,2022-04-28,CUST6975,Sam,40.000000,Male,Not Known,9123456780.0,456 Ave,Houston,CA,...,90001.0,1/1/2021,Not Known,0.000000,Not Mentioned,4.000000,Spanish,Not Mentioned,Not Known,0.000000
999,2022-04-28,CUST9293,Not Known,37.415403,Other,user687@example.com,9876543210.0,789 Blvd,Chicago,NY,...,10001.0,Not Known,12/1/2022,0.000000,Cancelled,2.000000,Spanish,Desktop,REF123,1.518519

**Changing Datatype For Better Understanding**

In [ ]:
df.dtypes

Date                   datetime64[ns]
Customer_ID                    object
Name                           object
Age                           float64
Gender                         object
Email                          object
Phone                          object
Address                        object
City                           object
State                          object
Country                        object
Zip                            object
Registration_Date              object
Last_Login                     object
Account_Balance               float64
Subscription_Status            object
Feedback_Score                float64
Preferred_Language             object
Device_Type                    object
Referral_Code                  object
Purchase_Count                float64
dtype: object

In [ ]:
df["Age"].astype(int)

0      45
1      40
2      37
3      25
4      40
       ..
995    45
996    25
997    37
998    40
999    37
Name: Age, Length: 1000, dtype: int64

In [ ]:
# Convert 'Not Known' values to NaN
df["Phone"] = df["Phone"].replace("Not Known", np.nan)
# Convert the column to numeric, coercing errors to NaN
df["Phone"] = pd.to_numeric(df["Phone"], errors='coerce')
# Calculate the median of the numeric values
x = df["Phone"].median()
# Fill the NaN values with the calculated median
df["Phone"].fillna(x, inplace=True)

/tmp/ipython-input-3442380581.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Phone"] = df["Phone"].replace("Not Known", np.nan)
/tmp/ipython-input-3442380581.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Phone"].fillna(x, inplace=True)

In [ ]:
df

,Date,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,...,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
0,2022-04-28,CUST4759,John Doe,45.000000,Not Known,user445@example.com,9.123457e+09,456 Ave,Los Angeles,NY,...,10001.0,Not Known,Not Known,336.815889,Active,3.000000,Spanish,Not Mentioned,Not Known,3.000000
1,2022-04-28,CUST8553,Not Known,40.000000,Male,user754@example.com,9.876543e+09,123 St,Los Angeles,NY,...,60601.0,Not Known,12/1/2022,336.815889,Not Mentioned,4.000000,Not Known,Mobile,REF123,1.000000
2,2022-04-28,CUST8441,Not Known,37.415403,Other,user345@example.com,9.876543e+09,Not Mentioned,Houston,NY,...,Not Mentioned,1/1/2021,5/5/2023,100.000000,Cancelled,3.029691,Not Known,Desktop,REF123,2.000000
3,2022-04-28,CUST1138,Not Known,25.000000,Female,user270@example.com,9.988777e+09,Not Mentioned,Houston,NY,...,60601.0,1/1/2021,5/5/2023,250.500000,Not Mentioned,3.000000,Not Known,Mobile,REF123,0.000000
4,2022-04-28,CUST8530,John Doe,40.000000,F,user631@example.com,9.876543e+09,123 St,Houston,NY,...,Not Mentioned,Not Known,Not Known,250.500000,Not Mentioned,5.000000,English,Tablet,Not Known,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-04-28,CUST9853,Not Known,45.000000,Male,user144@example.com,9.876543e+09,Not Mentioned,Los Angeles,NY,...,Not Mentioned,6/15/2020,Not Known,1000.000000,Active,2.000000,French,Not Mentioned,REF123,1.000000
996,2022-04-28,CUST2027,Sam,25.000000,Not Known,user537@example.com,9.876543e+09,789 Blvd,Houston,IL,...,Not Mentioned,1/1/2021,12/1/2022,100.000000,Inactive,1.000000,Spanish,Not Mentioned,Not Known,0.000000
997,2022-04-28,CUST3395,Jane Smith,37.415403,Female,user909@example.com,9.876543e+09,789 Blvd,New York,IL,...,60601.0,1/1/2021,Not Known,250.500000,Active,1.000000,Spanish,Not Mentioned,Not Known,1.518519
998,2022-04-28,CUST6975,Sam,40.000000,Male,Not Known,9.123457e+09,456 Ave,Houston,CA,...,90001.0,1/1/2021,Not Known,0.000000,Not Mentioned,4.000000,Spanish,Not Mentioned,Not Known,0.000000
999,2022-04-28,CUST9293,Not Known,37.415403,Other,user687@example.com,9.876543e+09,789 Blvd,Chicago,NY,...,10001.0,Not Known,12/1/2022,0.000000,Cancelled,2.000000,Spanish,Desktop,REF123,1.518519

In [ ]:
df.dtypes

Date                   datetime64[ns]
Customer_ID                    object
Name                           object
Age                           float64
Gender                         object
Email                          object
Phone                         float64
Address                        object
City                           object
State                          object
Country                        object
Zip                            object
Registration_Date              object
Last_Login                     object
Account_Balance               float64
Subscription_Status            object
Feedback_Score                float64
Preferred_Language             object
Device_Type                    object
Referral_Code                  object
Purchase_Count                float64
dtype: object

In [ ]:
df["Phone"]=df["Phone"].astype(int)

In [ ]:
df["Feedback_Score"]=df["Feedback_Score"].astype(int)

In [ ]:
df["Purchase_Count"]=df["Purchase_Count"].astype(int)

In [ ]:
df["Age"]=df["Age"].astype(int)

In [ ]:
df["Account_Balance"]=df["Account_Balance"].astype(int)

In [ ]:
x=df["Account_Balance"].mean()
print(x)
df["Account_Balance"].replace({0:x},inplace=True)
df["Account_Balance"]

336.552

/tmp/ipython-input-1105782150.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Account_Balance"].replace({0:x},inplace=True)

0       336.000
1       336.000
2       100.000
3       250.000
4       250.000
         ...
995    1000.000
996     100.000
997     250.000
998     336.552
999     336.552
Name: Account_Balance, Length: 1000, dtype: float64

In [ ]:
y=df["Zip"].mode()[0]
print(y)
df["Zip"].replace({"Not Mentioned":y},inplace=True)

Not Mentioned

/tmp/ipython-input-1860676043.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Zip"].replace({"Not Mentioned":y},inplace=True)

In [ ]:
z=df["Subscription_Status"].mode()[0]
print(z)
df["Subscription_Status"].replace({"Not Mentioned":z},inplace=True)

Not Mentioned

/tmp/ipython-input-2367916657.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Subscription_Status"].replace({"Not Mentioned":z},inplace=True)

In [ ]:
df["Gender"].replace({"M":"Male","F":"Female"},inplace=True)

/tmp/ipython-input-424765118.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Gender"].replace({"M":"Male","F":"Female"},inplace=True)

In [ ]:
df

,Date,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,...,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
0,2022-04-28,CUST4759,John Doe,45,Not Known,user445@example.com,9123456780,456 Ave,Los Angeles,NY,...,10001.0,Not Known,Not Known,336.000,Active,3,Spanish,Not Mentioned,Not Known,3
1,2022-04-28,CUST8553,Not Known,40,Male,user754@example.com,9876543210,123 St,Los Angeles,NY,...,60601.0,Not Known,12/1/2022,336.000,Not Mentioned,4,Not Known,Mobile,REF123,1
2,2022-04-28,CUST8441,Not Known,37,Other,user345@example.com,9876543210,Not Mentioned,Houston,NY,...,Not Mentioned,1/1/2021,5/5/2023,100.000,Cancelled,3,Not Known,Desktop,REF123,2
3,2022-04-28,CUST1138,Not Known,25,Female,user270@example.com,9988776655,Not Mentioned,Houston,NY,...,60601.0,1/1/2021,5/5/2023,250.000,Not Mentioned,3,Not Known,Mobile,REF123,0
4,2022-04-28,CUST8530,John Doe,40,Female,user631@example.com,9876543210,123 St,Houston,NY,...,Not Mentioned,Not Known,Not Known,250.000,Not Mentioned,5,English,Tablet,Not Known,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-04-28,CUST9853,Not Known,45,Male,user144@example.com,9876543210,Not Mentioned,Los Angeles,NY,...,Not Mentioned,6/15/2020,Not Known,1000.000,Active,2,French,Not Mentioned,REF123,1
996,2022-04-28,CUST2027,Sam,25,Not Known,user537@example.com,9876543210,789 Blvd,Houston,IL,...,Not Mentioned,1/1/2021,12/1/2022,100.000,Inactive,1,Spanish,Not Mentioned,Not Known,0
997,2022-04-28,CUST3395,Jane Smith,37,Female,user909@example.com,9876543210,789 Blvd,New York,IL,...,60601.0,1/1/2021,Not Known,250.000,Active,1,Spanish,Not Mentioned,Not Known,1
998,2022-04-28,CUST6975,Sam,40,Male,Not Known,9123456780,456 Ave,Houston,CA,...,90001.0,1/1/2021,Not Known,336.552,Not Mentioned,4,Spanish,Not Mentioned,Not Known,0
999,2022-04-28,CUST9293,Not Known,37,Other,user687@example.com,9876543210,789 Blvd,Chicago,NY,...,10001.0,Not Known,12/1/2022,336.552,Cancelled,2,Spanish,Desktop,REF123,1

In [ ]:
df["Date"]

0     2022-04-28
1     2022-04-28
2     2022-04-28
3     2022-04-28
4     2022-04-28
         ...
995   2022-04-28
996   2022-04-28
997   2022-04-28
998   2022-04-28
999   2022-04-28
Name: Date, Length: 1000, dtype: datetime64[ns]

In [ ]:
random_date = pd.to_datetime(pd.date_range(start='2020-01-06', end='2022-10-01'))
print(random_date)

DatetimeIndex(['2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09',
               '2020-01-10', '2020-01-11', '2020-01-12', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2022-09-22', '2022-09-23', '2022-09-24', '2022-09-25',
               '2022-09-26', '2022-09-27', '2022-09-28', '2022-09-29',
               '2022-09-30', '2022-10-01'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [ ]:
df["Date"]=random_date
df

,Date,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,...,Zip,Registration_Date,Last_Login,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count
0,2020-01-06,CUST4759,John Doe,45,Not Known,user445@example.com,9123456780,456 Ave,Los Angeles,NY,...,10001.0,Not Known,Not Known,336.000,Active,3,Spanish,Not Mentioned,Not Known,3
1,2020-01-07,CUST8553,Not Known,40,Male,user754@example.com,9876543210,123 St,Los Angeles,NY,...,60601.0,Not Known,12/1/2022,336.000,Not Mentioned,4,Not Known,Mobile,REF123,1
2,2020-01-08,CUST8441,Not Known,37,Other,user345@example.com,9876543210,Not Mentioned,Houston,NY,...,Not Mentioned,1/1/2021,5/5/2023,100.000,Cancelled,3,Not Known,Desktop,REF123,2
3,2020-01-09,CUST1138,Not Known,25,Female,user270@example.com,9988776655,Not Mentioned,Houston,NY,...,60601.0,1/1/2021,5/5/2023,250.000,Not Mentioned,3,Not Known,Mobile,REF123,0
4,2020-01-10,CUST8530,John Doe,40,Female,user631@example.com,9876543210,123 St,Houston,NY,...,Not Mentioned,Not Known,Not Known,250.000,Not Mentioned,5,English,Tablet,Not Known,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-09-27,CUST9853,Not Known,45,Male,user144@example.com,9876543210,Not Mentioned,Los Angeles,NY,...,Not Mentioned,6/15/2020,Not Known,1000.000,Active,2,French,Not Mentioned,REF123,1
996,2022-09-28,CUST2027,Sam,25,Not Known,user537@example.com,9876543210,789 Blvd,Houston,IL,...,Not Mentioned,1/1/2021,12/1/2022,100.000,Inactive,1,Spanish,Not Mentioned,Not Known,0
997,2022-09-29,CUST3395,Jane Smith,37,Female,user909@example.com,9876543210,789 Blvd,New York,IL,...,60601.0,1/1/2021,Not Known,250.000,Active,1,Spanish,Not Mentioned,Not Known,1
998,2022-09-30,CUST6975,Sam,40,Male,Not Known,9123456780,456 Ave,Houston,CA,...,90001.0,1/1/2021,Not Known,336.552,Not Mentioned,4,Spanish,Not Mentioned,Not Known,0
999,2022-10-01,CUST9293,Not Known,37,Other,user687@example.com,9876543210,789 Blvd,Chicago,NY,...,10001.0,Not Known,12/1/2022,336.552,Cancelled,2,Spanish,Desktop,REF123,1

In [ ]:
df["Date"]=pd.to_datetime(df["Date"])

In [ ]:
df["Year"]=df["Date"].dt.year

In [ ]:
df["Month"]=df["Date"].dt.month

In [ ]:
df["Day"]=df["Date"].dt.day

In [ ]:
df

,Date,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,...,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count,Year,Month,Day
0,2020-01-06,CUST4759,John Doe,45,Not Known,user445@example.com,9123456780,456 Ave,Los Angeles,NY,...,336.000,Active,3,Spanish,Not Mentioned,Not Known,3,2020,1,6
1,2020-01-07,CUST8553,Not Known,40,Male,user754@example.com,9876543210,123 St,Los Angeles,NY,...,336.000,Not Mentioned,4,Not Known,Mobile,REF123,1,2020,1,7
2,2020-01-08,CUST8441,Not Known,37,Other,user345@example.com,9876543210,Not Mentioned,Houston,NY,...,100.000,Cancelled,3,Not Known,Desktop,REF123,2,2020,1,8
3,2020-01-09,CUST1138,Not Known,25,Female,user270@example.com,9988776655,Not Mentioned,Houston,NY,...,250.000,Not Mentioned,3,Not Known,Mobile,REF123,0,2020,1,9
4,2020-01-10,CUST8530,John Doe,40,Female,user631@example.com,9876543210,123 St,Houston,NY,...,250.000,Not Mentioned,5,English,Tablet,Not Known,1,2020,1,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-09-27,CUST9853,Not Known,45,Male,user144@example.com,9876543210,Not Mentioned,Los Angeles,NY,...,1000.000,Active,2,French,Not Mentioned,REF123,1,2022,9,27
996,2022-09-28,CUST2027,Sam,25,Not Known,user537@example.com,9876543210,789 Blvd,Houston,IL,...,100.000,Inactive,1,Spanish,Not Mentioned,Not Known,0,2022,9,28
997,2022-09-29,CUST3395,Jane Smith,37,Female,user909@example.com,9876543210,789 Blvd,New York,IL,...,250.000,Active,1,Spanish,Not Mentioned,Not Known,1,2022,9,29
998,2022-09-30,CUST6975,Sam,40,Male,Not Known,9123456780,456 Ave,Houston,CA,...,336.552,Not Mentioned,4,Spanish,Not Mentioned,Not Known,0,2022,9,30
999,2022-10-01,CUST9293,Not Known,37,Other,user687@example.com,9876543210,789 Blvd,Chicago,NY,...,336.552,Cancelled,2,Spanish,Desktop,REF123,1,2022,10,1

In [ ]:
df.columns

Index(['Date', 'Customer_ID', 'Name', 'Age', 'Gender', 'Email', 'Phone',
       'Address', 'City', 'State', 'Country', 'Zip', 'Registration_Date',
       'Last_Login', 'Account_Balance', 'Subscription_Status',
       'Feedback_Score', 'Preferred_Language', 'Device_Type', 'Referral_Code',
       'Purchase_Count', 'Year', 'Month', 'Day'],
      dtype='object')

In [ ]:
df["Month"].replace({1:"January",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"September",10:"October",11:"November",12:"December"},inplace=True)

/tmp/ipython-input-2598553100.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Month"].replace({1:"January",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"September",10:"October",11:"November",12:"December"},inplace=True)

In [ ]:
df

,Date,Customer_ID,Name,Age,Gender,Email,Phone,Address,City,State,...,Account_Balance,Subscription_Status,Feedback_Score,Preferred_Language,Device_Type,Referral_Code,Purchase_Count,Year,Month,Day
0,2020-01-06,CUST4759,John Doe,45,Not Known,user445@example.com,9123456780,456 Ave,Los Angeles,NY,...,336.000,Active,3,Spanish,Not Mentioned,Not Known,3,2020,January,6
1,2020-01-07,CUST8553,Not Known,40,Male,user754@example.com,9876543210,123 St,Los Angeles,NY,...,336.000,Not Mentioned,4,Not Known,Mobile,REF123,1,2020,January,7
2,2020-01-08,CUST8441,Not Known,37,Other,user345@example.com,9876543210,Not Mentioned,Houston,NY,...,100.000,Cancelled,3,Not Known,Desktop,REF123,2,2020,January,8
3,2020-01-09,CUST1138,Not Known,25,Female,user270@example.com,9988776655,Not Mentioned,Houston,NY,...,250.000,Not Mentioned,3,Not Known,Mobile,REF123,0,2020,January,9
4,2020-01-10,CUST8530,John Doe,40,Female,user631@example.com,9876543210,123 St,Houston,NY,...,250.000,Not Mentioned,5,English,Tablet,Not Known,1,2020,January,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-09-27,CUST9853,Not Known,45,Male,user144@example.com,9876543210,Not Mentioned,Los Angeles,NY,...,1000.000,Active,2,French,Not Mentioned,REF123,1,2022,September,27
996,2022-09-28,CUST2027,Sam,25,Not Known,user537@example.com,9876543210,789 Blvd,Houston,IL,...,100.000,Inactive,1,Spanish,Not Mentioned,Not Known,0,2022,September,28
997,2022-09-29,CUST3395,Jane Smith,37,Female,user909@example.com,9876543210,789 Blvd,New York,IL,...,250.000,Active,1,Spanish,Not Mentioned,Not Known,1,2022,September,29
998,2022-09-30,CUST6975,Sam,40,Male,Not Known,9123456780,456 Ave,Houston,CA,...,336.552,Not Mentioned,4,Spanish,Not Mentioned,Not Known,0,2022,September,30
999,2022-10-01,CUST9293,Not Known,37,Other,user687@example.com,9876543210,789 Blvd,Chicago,NY,...,336.552,Cancelled,2,Spanish,Desktop,REF123,1,2022,October,1

In [ ]:
df.dtypes

Date                   datetime64[ns]
Customer_ID                    object
Name                           object
Age                             int64
Gender                         object
Email                          object
Phone                           int64
Address                        object
City                           object
State                          object
Country                        object
Zip                            object
Registration_Date              object
Last_Login                     object
Account_Balance               float64
Subscription_Status            object
Feedback_Score                  int64
Preferred_Language             object
Device_Type                    object
Referral_Code                  object
Purchase_Count                  int64
Year                            int32
Month                          object
Day                             int32
dtype: object

In [ ]:
 from google.colab import files
df.to_excel("cleaned_data.xlsx", index=False)
files.download("cleaned_data.xlsx")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

df.to_excel("/content/drive/MyDrive/cleaned_data.xlsx", index=False)

Mounted at /content/drive